html {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;

    height: calc(100% - 2px);
}

.app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;

    /*background-color: black;*/
    /*color: white;*/
}

.connectionStringForm {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        'label label'
        'input button';
    column-gap: 1rem;
    row-gap: .5rem;
    padding: .5rem;

    label {
        grid-area: label;
    }

    input {
        grid-area: input;
    }

    button {
        grid-area: button;
    }
}