html {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

.app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    padding: .5rem;
    height: calc(100vh - 1rem);
    justify-content: space-between;
}

.connectionStringColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.connectionStringForm {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
        'label label'
        'input button';
    column-gap: 1rem;
    row-gap: .5rem;
    padding: .5rem;

    label {
        grid-area: label;
    }

    input {
        grid-area: input;
    }

    button {
        grid-area: button;
    }
}

.buttonBar {
    display: flex;
    justify-content: space-evenly;
    column-gap: 1rem;
}

.logFeed {
    flex: 1 1 auto;
    overflow: auto;
}

.logColumn {
    display: flex;
    flex-direction: column;
    /* Needed to make the <pre> scroll properly, for some reason. */
    min-height: 0;
}